---
import Layout from '../layouts/base.astro'
import Header from '../components/header.astro'
import Item from '../components/item.astro'

// const { SITE_URL } = Astro.locals
const { channel, currentPage = 1, hasNext = false, isItem = false } = Astro.props
const posts = channel.posts ?? []
---

<Layout channel={channel} id="main-container">
  <slot name="header">
    <Header channel={channel} />
  </slot>
  <div class="items">
    {posts.map((post) => <Item post={post} isItem={isItem} />)}
  </div>

  <nav class="pages-container" aria-label="分页导航">
    {
      currentPage > 1 ? (
        <a href={currentPage === 2 ? '/' : `/page/${currentPage - 1}`} title="上一页" class="page" rel="prev">
          上一页
        </a>
      ) : (
        <span class="page-placeholder" aria-hidden="true">&nbsp;</span>
      )
    }

    <div class="pages-info" role="status">第 {currentPage} 页</div>
    {
      hasNext ? (
        <a href={`/page/${currentPage + 1}`} title="下一页" class="page" rel="next">
          下一页
        </a>
      ) : (
        <span class="page-placeholder" aria-hidden="true">&nbsp;</span>
      )
    }
  </nav>
</Layout>
